<%= form_for(@itinerary) do |f| %>
  <% if @itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
      <% @itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_name %><br>
    <%= f.text_field :activity_name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :time_of_event %><br>
    <%= f.text_field :time_of_event %>
  </div>
  <div class="field">
    <%= f.label :foursqaure_id %><br>
    <%= f.text_field :foursqaure_id %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br>
    <%= f.text_field :trip_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
