<%= simple_form_for(@itinerary, html: {class:"form-control"}) do |f| %>
  <% if @itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
      <% @itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :activity_name%>

   <%= f.input :location %>

    <%= f.input :time_of_event %>

  <%= f.input :trip_id, collection: Trip.all, label_method: :trip_name %>

  
  
  <div class="actions">
    <%= f.button :submit %>
  </div>
</div>
<% end %>



